@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


body{
  padding: 0;
  margin: 0;
  background-image: url("hhhh.jpg"); no-repeat;
  background-size: cover;
  font-family: sans-serif;
}


.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
}

.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 4px solid #495057;
  padding: 13px 0;
  margin-bottom: 50px;
}

.textbox{
  width: 100%;
  font-size: 20px;
  overflow: hidden;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #495057;
}

.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  width: 80%;
  font-size: 18px;
  margin: 0 10px;
  float: left;
}


.btn{
  width: 100%;
  font-size: 18px;
  color: white;
  border: 2px solid #495057;
  background: none;
  padding: 5px;
  cursor: pointer;
  margin: 12px 0;
}
